---
layout: splash
author_profile: true
share: true
related: true
---
<!-- This loops through the paginated posts --
{% for post in paginator.posts %}
<div class="post-header" style="margin-bottom:4em">
    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <p class="post-meta"><time class="dt-published" datetime="{{ post.date }}" itemprop="datePublished">{{ post.date }}</time></p>
    </header>
  <div class="content">
    {{ post.content }}
  </div>
</div>
{% endfor %}
-->
<!-- Pagination links --
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
-->
<!--
<h1>Tag Cloud</h1>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span class="site-tag">
    <a href="/tag/{{ tag | first | slugify }}/"
        style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
</span>
{% endfor %}
-->
