<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{ page.title }} - goldstift's blog</title>

    <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.3.2.min.css"/>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="alternate" type="application/atom+xml" title="goldstift's blog" href="{{ site.url }}/atom.xml">
    <style style="display:none">
        @font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');}
        @font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans'),local('OpenSans'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');}
        @font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');}
    </style>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/jquery.mobile-1.3.2.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper" data-role="page" data-theme="d">
    <header data-role="header" data-position="fixed" data-theme="d">
        <h2>goldstift's 2 cent on technology and software development</h2>
        <a href="#nav-menu-panel" class="jqm-navmenu-link" data-icon="bars" data-iconpos="notext">Navigation</a>
    </header>
    <section id="content" data-role="content">
        <h1>{{ page.title }}</h1>
        {{ content }}
    </section>
    <footer>
        <p>
            <small>&copy; 2013 by A. Heusingfeld - Hosted on <a href="http://pages.github.com/">GitHub Pages</a></small>
        </p>
    </footer>
    <div id="nav-menu-panel" data-role="panel" data-position="left" data-display="reveal" data-theme="c">
        <h3>Blog Posts</h3>
        <nav>
            <ul id="innernav" data-role="listview" data-inset="true">
                <li><a href="/">Home</a></li>
                <li id="allpostslink"><a href="/allposts.html">All blog posts</a></li>
                {% for post in site.posts limit:10 %}
                <li><span>{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">&raquo; {{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
<script src="/javascripts/scale.fix.js"></script>

</body>
</html>
