<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} - goldstift's blog</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="alternate" type="application/atom+xml" title="goldstift's blog" href="atom.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2>goldstift - my 2 cent</h2>
		<ul>
			<li><a href="/">About me</a></li>
			<li><a href="http://twitter.com/goldstift">@twitter</a></li>
			<li><a href="https://github.com/aheusingfeld">@GitHub</a></li>
			<li><a href="http://www.xing.com/profile/Alexander_Heusingfeld">@Xing</a></li>
			<li><a href="http://www.linkedin.com/pub/alexander-heusingfeld/62/89/820">@LinkedIn</a></li>
			<li><a href="https://www.gittip.com/goldstift/">@Gittip</a></li>
			<li><a href="http://lanyrd.com/profile/goldstift/">@Lanyrd</a></li>
		</ul>
		<h2>Blog Posts</h2>
			<nav>
			<ul id="innernav">
{% for post in site.posts limit:5 %}
				<li><span>{{ post.date | date_to_string }}</span> <a href="{{ post.url }}#content">&raquo; {{ post.title }}</a></li>
{% endfor %}
	  		<li id="allpostslink"><a href="/allposts.html">All blog posts</a></li>
  </ul>
  		</nav>
        <p class="view"><strong>Please feel free to ask questions or comment via <a href="https://github.com/aheusingfeld/aheusingfeld.github.com/issues/new?title=Comment on '{{ page.title }}'&amp;labels={{page.label}}">Github issues</a>!</strong></p>
      </header>
      <section id="content">
		<h1>{{ page.title }}</h1>
{{ content }}
      </section>
      <footer>
        <p><small>&copy; 2012 by A. Heusingfeld - Hosted on <a href="http://pages.github.com/">GitHub Pages</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    
  </body>
</html>
