---
layout: default
---

<div id="main" role="main" class="main-content" aria-label="Content">

  <article class="page h-entry" itemscope itemtype="https://schema.org/CreativeWork">
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
          <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {% endif %}
        {% include page__meta.html %}
      </header>

      <div class="page-content">
        <div class="e-content">
          {{ content }}
        </div>

        <footer class="page__meta">
          {% if site.data.ui-text[site.locale].meta_label %}
            <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
          {% endif %}
          <!-- {% include page-categories.html %} -->
          {% include page-tags.html %}
          {% include page__date.html %}
        </footer>
        {% if page.share %}
          {% include social-share.html %}
        {% endif %}

        {% if site.disqus.shortname %}
          {% include disqus-comments.html %}
        {% endif %}

        {% include page-pagination.html %}
      </div>
    </div>
  </article>
</main>
